.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2.0px;
}

.tick text{
    font-size: 10px;
}

.tick line{
    opacity: 0.2;
}

.legend rect {
    fill: white;
    stroke: gray;
    opacity: 0.8;
}

.graph-svg-component {
    background-color: white;
    border: 0px solid black;
}