<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{header}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-stats"></span> Universe
                    </div>
                    <div class="panel-body">
                        <div class="d3-graph-universe"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-stats"></span> Faction Regions
                    </div>
                        <div class="panel-body">
                            <div class="d3-graph-universe-factions"></div>
                        </div>
                </div>
            </div>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-fire"></span> Top Ratting Events
                    </div>
                    <div class="panel-body">
                        <table data-toggle="table" data-url="/api/toprattingevents" data-show-refresh="true" data-height="300">
                            <thead>
                                <tr>
                                    <th data-field="timestamp">timestamp</th>
                                    <th data-field="sum_factionkills">SUM_factionKills</th>
                                    <th data-field="solarSystemName">solarSystemName</th>
                                    <th data-field="regionName">regionName</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-fire"></span> Report
                    </div>
                    <div class="panel-body">
                        Report
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->


    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}