<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">

  <head>
    <title>Spotmarket</title>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">spormarket</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard_overview">NPC Dashboard <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard_npc_universe">Universe</a></li>
            <li><a href="/dashboard_npc_angel">Angel Cartel</a></li>
            <li><a href="/dashboard_npc_blood">Blood Raiders</a></li>
            <li><a href="/dashboard_npc_guristas">Guristas Pirates</a></li>
            <li><a href="/dashboard_npc_sanshas">Sansha's Nation</a></li>
            <li><a href="/dashboard_npc_serpentis">Serpentis Corporation</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
          </div>

            <div class="container">
            <!-- child template -->
            {% block content %}{% endblock %}
            </div>
        </div>
      </div>
    </div>
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script src="static/js/d3.v3.min.js"></script>
<script src="static/js/d3.legend.js"></script>
<script src="static/js/underscore-min.js"></script>
<script src="static/js/graphs.js"></script>
</body>
</html>