{% extends "base.html" %}
{% block content %}

<h1 class="page-header">Universe</h1>

<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.eveonline.com/Render/17738_512.png" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Text</h4>
              <span class="text-muted">Special Snowflake</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.eveonline.com/Render/17736_512.png" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.eveonline.com/Render/17740_512.png" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.eveonline.com/Render/17718_512.png" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
</div>


{% endblock %}