{% extends "base.html" %}
{% block content %}

<h1 class="page-header">Faction Kill Overview</h1>

<div class="row">
  <div class="col-md-6">
      <h3 class="sub-header">Security - 12H Resample - 1.5D Window</h3>
        <div class="d3-graph-universe"></div>
  </div>
  <div class="col-md-6">
      <h3 class="sub-header">Faction - 12H Resample - 1.5D Window</h3>
        <div class="d3-graph-universe-factions"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <h3 class="sub-header">Top Nullsec Regions</h3>
        <script>
        $(function() {
        $("#toprattingregions_null").load("static/data/npckills_toprattingregions_nullsec.html");
        });
        </script>
    <div id="toprattingregions_null" class="table-responsive"></div>
  </div>
  <div class="col-md-6">
      <h3 class="sub-header">Top Nullsec Systems</h3>
        <script>
        $(function() {
        $("#toprattingsystems_null").load("static/data/npckills_toprattingsystems_nullsec.html");
        });
        </script>
        <div id="toprattingsystems_null" class="table-responsive"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <h3 class="sub-header">Top Lowsec Regions</h3>
        <script>
        $(function() {
        $("#toprattingregions_lowsec").load("static/data/npckills_toprattingregions_lowsec.html");
        });
        </script>
    <div id="toprattingregions_lowsec" class="table-responsive"></div>
  </div>
  <div class="col-md-6">
      <h3 class="sub-header">Top Lowsec Systems</h3>
        <script>
        $(function() {
        $("#toprattingsystems_lowsec").load("static/data/npckills_toprattingsystems_lowsec.html");
        });
        </script>
        <div id="toprattingsystems_lowsec" class="table-responsive"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <h3 class="sub-header">Top Highsec Regions</h3>
        <script>
        $(function() {
        $("#toprattingregions_highsec").load("static/data/npckills_toprattingregions_highsec.html");
        });
        </script>
    <div id="toprattingregions_highsec" class="table-responsive"></div>
  </div>
  <div class="col-md-6">
      <h3 class="sub-header">Top Highsec Systems</h3>
        <script>
        $(function() {
        $("#toprattingsystems_highsec").load("static/data/npckills_toprattingsystems_highsec.html");
        });
        </script>
        <div id="toprattingsystems_highsec" class="table-responsive"></div>
  </div>
</div>


{% endblock %}