{% extends "base.html" %}
{% block content %}

<h1 class="page-header"><img src="https://image.eveonline.com/Corporation/1000138_64.png">Angel Cartel</h1>

<div class="row">
  <div class="col-md-6">
      <h4 class="sub-header">Region - 12H Resample - 1.5D Window</h4>
        <div class="d3-graph-angel"></div>
  </div>
  <div class="col-md-6">
      <h4 class="sub-header">Region Totals - 12H Resample - 1.5D Window</h4>
        <div class="d3-graph-angel-sum"></div>
  </div>
</div>

{% endblock %}