{% extends "base.html" %}
{% block content %}

<h1 class="page-header">Overview</h1>

<div class="row">
  <div class="col-md-6">
      <h3 class="sub-header">Security - 12H Resample - 1.5D Window</h3>
        <div class="d3-graph-universe"></div>
  </div>
  <div class="col-md-6">
      <h3 class="sub-header">Faction - 12H Resample - 1.5D Window</h3>
        <div class="d3-graph-universe-factions"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <h3 class="sub-header">Top Nullsec Ratting Regions</h3>
        <script>
        $(function() {
        $("#toprattingregions").load("static/data/npckills_toprattingregions.html");
        });
        </script>
    <div id="toprattingregions" class="table-responsive"></div>
  </div>
  <div class="col-md-6">
      <h3 class="sub-header">Top Nullsec Ratting Systems</h3>
        <script>
        $(function() {
        $("#toprattingsystems").load("static/data/npckills_toprattingsystems.html");
        });
        </script>
        <div id="toprattingsystems" class="table-responsive"></div>
  </div>
</div>






{% endblock %}