{% extends "base.html" %}
{% block content %}

<h2>Universe</h2>
<div class="d3-graph-universe"></div>

<h2>Angel Cartel</h2>
<div class="d3-graph-angel"></div>
<div class="d3-graph-angel-sum"></div>

<h2>Blood Raiders</h2>
<div class="d3-graph-blood"></div>
<div class="d3-graph-blood-sum"></div>

<h2>Guristas Pirates</h2>
<div class="d3-graph-guristas"></div>
<div class="d3-graph-guristas-sum"></div>

<h2>Sansha's Nation</h2>
<div class="d3-graph-sanshas"></div>
<div class="d3-graph-sanshas-sum"></div>

<h2>Serpentis Corporation</h2>
<div class="d3-graph-serpentis"></div>
<div class="d3-graph-serpentis-sum"></div>

{% endblock %}