{% from "macros/navlink.html" import nav_link with context %}

{% macro nav_bar(name) %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard">spotmarket</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown"><i class="fa fa-power-off"></i> <samp>{{statustq}}</samp>
        </li>
        |
        <li class="dropdown"><i class="fa fa-users"></i> <samp>{{userstq}}</samp>
        </li>
        |
        <li class="dropdown"><i class="fa fa-clock-o"></i> <samp>{{timeutc}} UTC</samp>
        </li>

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tags fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/system/market"><i class="fa fa-caret-right fa-fw"></i> Market</a>
                </li>
                <li>
                    <a href="/system/zkillboard"><i class="fa fa-caret-right fa-fw"></i> zKillboard</a>
                </li>
                <li>
                    <a href="/system/stations"><i class="fa fa-caret-right fa-fw"></i> Stations</a>
                </li>
            </ul>
            <!-- /.dropdown-Tracking Tables -->
        </li>
        <!-- /.dropdown -->

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/system/characters"><i class="fa fa-caret-right fa-fw"></i> Characters</a>
                </li>
            </ul>
            <!-- /.dropdown-Characters -->
        </li>
        <!-- /.dropdown -->

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-system">
                <li>
                    <a href="/system/logs"><i class="fa fa-caret-right fa-fw"></i> Logs</a>
                </li>
                <li>
                    <a href="/system/database"><i class="fa fa-caret-right fa-fw"></i> Database</a>
                </li>
            </ul>
            <!-- /.dropdown-System -->
        </li>
        <!-- /.dropdown -->

    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Character<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/character/blueprints"><i class="fa fa-chevron-right fa-fw"></i> Blueprints</a>
                        </li>
                        <li>
                            <a href="/report/character/orders"><i class="fa fa-chevron-right fa-fw"></i> Orders</a>
                        </li>
                        <li>
                            <a href="/report/character/wallet"><i class="fa fa-chevron-right fa-fw"></i> Wallet</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Faction<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/faction/overview"><img src="/dist/images/57_64_13.png" height="24" width="24"> Overview</a>
                        </li>
                        <li>
                            <a href="/report/faction/angel"><img src="https://image.eveonline.com/Corporation/1000138_64.png" height="24" width="24"> Angel Cartel</a>
                        </li>
                        <li>
                            <a href="/report/faction/blood"><img src="https://image.eveonline.com/Corporation/1000134_64.png" height="24" width="24"> Blood Raiders</a>
                        </li>
                        <li>
                            <a href="/report/faction/guristas"><img src="https://image.eveonline.com/Corporation/1000127_64.png" height="24" width="24"> Guristas</a>
                        </li>
                        <li>
                            <a href="/report/faction/mordu"><img src="https://image.eveonline.com/Corporation/1000128_64.png" height="24" width="24"> Mordu's Legion</a>
                        </li>
                        <li>
                            <a href="/report/faction/sansha"><img src="https://image.eveonline.com/Corporation/1000162_64.png" height="24" width="24"> Sansha's Nation</a>
                        </li>
                        <li>
                            <a href="/report/faction/serpentis"><img src="https://image.eveonline.com/Corporation/1000135_64.png" height="24" width="24"> Serpentis</a>
                        </li>
                        <li>
                            <a href="/report/faction/sisters"><img src="https://image.eveonline.com/Corporation/1000130_64.png" height="24" width="24"> Sisters</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Security<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/security/highsec"><img src="/dist/images/57_64_13.png" width="24" height="24"> Highsec</a>
                        </li>
                        <li>
                            <a href="/report/security/lowsec"><img src="/dist/images/57_64_13.png" width="24" height="24"> Lowsec</a>
                        </li>
                        <li>
                            <a href="/report/security/nullsec"><img src="/dist/images/57_64_13.png" width="24" height="24"> Nullsec</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Index<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/index/deadend"><img src="/dist/images/57_64_13.png" width="24" height="24"> Dead End Systems</a>
                        </li>
                        <li>
                            <a href="/report/index/pirateships"><img src="https://image.eveonline.com/Type/17738_64.png" width="24" height="24"> Pirate Ships</a>
                        </li>
                        <li>
                            <a href="/report/index/boosters"><img src="https://image.eveonline.com/Type/3898_64.png" width="24" height="24"> Boosters</a>
                        </li>
                        <li>
                            <a href="/report/index/pilotservices"><img src="https://image.eveonline.com/Type/29668_64.png" width="24" height="24"> Pilot Services</a>
                        </li>
                        <li>
                            <a href="/report/index/capitalships"><img src="https://image.eveonline.com/Type/23911_64.png" width="24" height="24"> Capital Ships</a>
                        </li>
                        <li>
                            <a href="/report/index/alliances"><img src="/dist/images/57_64_13.png" width="24" height="24"> Alliances</a>
                        </li>
                        <li>
                            <a href="/report/index/goldenroute"><img src="/dist/images/57_64_13.png" width="24" height="24"> Golden Route</a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Region<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Empire <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000054"><img src="/dist/images/57_64_13.png" width="24" height="24"> Aridia</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000069"><img src="/dist/images/57_64_13.png" width="24" height="24"> Black Rise</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000001"><img src="/dist/images/57_64_13.png" width="24" height="24"> Derelik</a>
                                </li>
                               <li>
                                    <a href="/report/region/10000036"><img src="/dist/images/57_64_13.png" width="24" height="24"> Devoid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000043"><img src="/dist/images/57_64_13.png" width="24" height="24"> Domain</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000064"><img src="/dist/images/57_64_13.png" width="24" height="24"> Essence</a>
                                </li>
                               <li>
                                    <a href="/report/region/10000037"><img src="/dist/images/57_64_13.png" width="24" height="24"> Everyshore</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000030"><img src="/dist/images/57_64_13.png" width="24" height="24"> Heimatar</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000052"><img src="/dist/images/57_64_13.png" width="24" height="24"> Kador</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000049"><img src="/dist/images/57_64_13.png" width="24" height="24"> Khanid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000065"><img src="/dist/images/57_64_13.png" width="24" height="24"> Kor-Azor</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000016"><img src="/dist/images/57_64_13.png" width="24" height="24"> Lonetrek</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000042"><img src="/dist/images/57_64_13.png" width="24" height="24"> Metropolis</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000028"><img src="/dist/images/57_64_13.png" width="24" height="24"> Molden Heath</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000048"><img src="/dist/images/57_64_13.png" width="24" height="24"> Placid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000032"><img src="/dist/images/57_64_13.png" width="24" height="24"> Sinq Laison</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000044"><img src="/dist/images/57_64_13.png" width="24" height="24"> Solitude</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000020"><img src="/dist/images/57_64_13.png" width="24" height="24"> Tash-Murkon</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000038"><img src="/dist/images/57_64_13.png" width="24" height="24"> The Bleak Lands</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000033"><img src="/dist/images/57_64_13.png" width="24" height="24"> The Citadel</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000002"><img src="/dist/images/57_64_13.png" width="24" height="24"> The Forge</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000068"><img src="/dist/images/57_64_13.png" width="24" height="24"> Verge Vendor</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Southeast <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000007"><img src="/dist/images/57_64_13.png" width="24" height="24"> Cache</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000012"><img src="/dist/images/57_64_13.png" width="24" height="24"> Curse</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000005"><img src="/dist/images/57_64_13.png" width="24" height="24"> Detorid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000011"><img src="/dist/images/57_64_13.png" width="24" height="24"> Great Wildlands</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000009"><img src="/dist/images/57_64_13.png" width="24" height="24"> Insmother</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000008"><img src="/dist/images/57_64_13.png" width="24" height="24"> Scalding Pass</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000006"><img src="/dist/images/57_64_13.png" width="24" height="24"> Wicked Creek</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">South <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000014"><img src="/dist/images/57_64_13.png" width="24" height="24"> Catch</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000039"><img src="/dist/images/57_64_13.png" width="24" height="24"> Esoteria</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000056"><img src="/dist/images/57_64_13.png" width="24" height="24"> Feythabolis</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000025"><img src="/dist/images/57_64_13.png" width="24" height="24"> Immensea</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000031"><img src="/dist/images/57_64_13.png" width="24" height="24"> Impass</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000062"><img src="/dist/images/57_64_13.png" width="24" height="24"> Omist</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000059"><img src="/dist/images/57_64_13.png" width="24" height="24"> Paragon Soul</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000022"><img src="/dist/images/57_64_13.png" width="24" height="24"> Stain</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000061"><img src="/dist/images/57_64_13.png" width="24" height="24"> Tenerifis</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Southwest <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000060"><img src="/dist/images/57_64_13.png" width="24" height="24"> Delve</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000063"><img src="/dist/images/57_64_13.png" width="24" height="24"> Period Basis</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000050"><img src="/dist/images/57_64_13.png" width="24" height="24"> Querious</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Northwest <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000051"><img src="/dist/images/57_64_13.png" width="24" height="24"> Cloud Ring</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000058"><img src="/dist/images/57_64_13.png" width="24" height="24"> Fountain</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000057"><img src="/dist/images/57_64_13.png" width="24" height="24"> Outer Ring</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000041"><img src="/dist/images/57_64_13.png" width="24" height="24"> Syndicate</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">North <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/north"><img src="/dist/images/1_64.png" width="24" height="24"> Overview</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000055"><img src="/dist/images/57_64_13.png" width="24" height="24"> Branch</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000035"><img src="/dist/images/57_64_13.png" width="24" height="24"> Deklein</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000046"><img src="/dist/images/57_64_13.png" width="24" height="24"> Fade</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000023"><img src="/dist/images/57_64_13.png" width="24" height="24"> Pure Blind</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000045"><img src="/dist/images/57_64_13.png" width="24" height="24"> Tenal</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000010"><img src="/dist/images/57_64_13.png" width="24" height="24"> Tribute</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000015"><img src="/dist/images/57_64_13.png" width="24" height="24"> Venal</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Northeast <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000029"><img src="/dist/images/57_64_13.png" width="24" height="24"> Geminate</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000003"><img src="/dist/images/57_64_13.png" width="24" height="24"> Vale of the Silent</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">East <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000053"><img src="/dist/images/57_64_13.png" width="24" height="24"> Cobalt Edge</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000027"><img src="/dist/images/57_64_13.png" width="24" height="24"> Etherium Reach</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000013"><img src="/dist/images/57_64_13.png" width="24" height="24"> Malpais</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000040"><img src="/dist/images/57_64_13.png" width="24" height="24"> Oasa</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000021"><img src="/dist/images/57_64_13.png" width="24" height="24"> Outer Passage</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000066"><img src="/dist/images/57_64_13.png" width="24" height="24"> Perrigen Falls</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000034"><img src="/dist/images/57_64_13.png" width="24" height="24"> The Kalevala Expanse</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000018"><img src="/dist/images/57_64_13.png" width="24" height="24"> The Spire</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Jump<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/jump/tradehubs"><img src="/dist/images/7_64_16.png" width="24" height="24"> Trade Hubs</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Market<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/market/pilotservices"><img src="http://imageserver.eveonline.com/Type/29668_32.png" width="24" height="24"> Pilot Services</a>
                        </li>
                        <li>
                            <a href="/report/market/item/28606"><img src="/dist/images/57_64_13.png" width="24" height="24"> Orca</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Moon Minerals<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/moon/sov"><img src="/dist/images/94_64_9.png" width="24" height="24"> Sovereignty</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-chevron-right fa-fw"></i> Gasses <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/moon/gasses"><img src="/dist/images/1_64.png" width="24" height="24"> Overview</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16634"><img src="http://imageserver.eveonline.com/Type/16634_32.png" width="24" height="24"> Atmospheric</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16635"><img src="http://imageserver.eveonline.com/Type/16635_32.png" width="24" height="24"> Evaporite</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16633"><img src="http://imageserver.eveonline.com/Type/16633_32.png" width="24" height="24"> Hydrocarbons</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16636"><img src="http://imageserver.eveonline.com/Type/16636_32.png" width="24" height="24"> Silicates</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-chevron-right fa-fw"></i> R8 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/moon/r8"><img src="/dist/images/1_64.png" width="24" height="24"> Overview</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16640"><img src="http://imageserver.eveonline.com/Type/16640_32.png" width="24" height="24"> Cobalt</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16639"><img src="http://imageserver.eveonline.com/Type/16639_32.png" width="24" height="24"> Scandium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16638"><img src="http://imageserver.eveonline.com/Type/16638_32.png" width="24" height="24"> Titanium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16637"><img src="http://imageserver.eveonline.com/Type/16637_32.png" width="24" height="24"> Tungsten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-chevron-right fa-fw"></i> R16 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/moon/r16"><img src="/dist/images/1_64.png" width="24" height="24"> Overview</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16643"><img src="http://imageserver.eveonline.com/Type/16643_32.png" width="24" height="24"> Cadmium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16641"><img src="http://imageserver.eveonline.com/Type/16641_32.png" width="24" height="24"> Chromium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16644"><img src="http://imageserver.eveonline.com/Type/16644_32.png" width="24" height="24"> Platinum</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16642"><img src="http://imageserver.eveonline.com/Type/16642_32.png" width="24" height="24"> Vanadium</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-chevron-right fa-fw"></i> R32 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/moon/r32"><img src="/dist/images/1_64.png" width="24" height="24"> Overview</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16647"><img src="http://imageserver.eveonline.com/Type/16647_32.png" width="24" height="24"> Caesium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16648"><img src="http://imageserver.eveonline.com/Type/16648_32.png" width="24" height="24"> Hafnium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16646"><img src="http://imageserver.eveonline.com/Type/16646_32.png" width="24" height="24"> Mercury</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16649"><img src="http://imageserver.eveonline.com/Type/16649_32.png" width="24" height="24"> Technetium</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-chevron-right fa-fw"></i> R64 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/moon/r64"><img src="/dist/images/1_64.png" width="24" height="24"> Overview</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16650"><img src="http://imageserver.eveonline.com/Type/16650_32.png" width="24" height="24"> Dysprosium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16651"><img src="http://imageserver.eveonline.com/Type/16651_32.png" width="24" height="24"> Neodymium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16652"><img src="http://imageserver.eveonline.com/Type/16652_32.png" width="24" height="24"> Promethium</a>
                                </li>
                                <li>
                                    <a href="/report/moon/item/16653"><img src="http://imageserver.eveonline.com/Type/16653_32.png" width="24" height="24"> Thulium</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> War<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/war/worldwarbee"><img src="https://image.eveonline.com/Alliance/1354830081_64.png" width="24" height="24"> World War Bee</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Map<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/map/sovereignty"><img src="/dist/images/94_64_9.png" width="24" height="24"> Sovereignty</a>
                        </li>
                        <li>
                            <a href="/map/conquerablestations"><img src="/dist/images/1_64.png" width="24" height="24"> Stations</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {{nav_link(name="Panels and Wells", url="/panels-wells.html", active=name)}}
                        {{nav_link(name="Buttons", url="/buttons.html", active=name)}}
                        {{nav_link(name="Notifications", url="/notifications.html", active=name)}}
                        {{nav_link(name="Typography", url="/typography.html", active=name)}}
                        {{nav_link(name="Icons", url="/icons.html", active=name)}}
                        {{nav_link(name="Grid", url="/grid.html", active=name)}}
                        {{nav_link(name="Forms", url="/forms.html", active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
{% endmacro %}