{% from "macros/navlink.html" import nav_link with context %}

{% macro nav_bar(name) %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard">spotmarket</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            {{timeutc}}
        </li>
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/system/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li>
                    <a href="/system/logs"><i class="fa fa-gear fa-fw"></i> Logs</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Faction Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/faction/overview"><img src="/dist/images/57_64_13.png" height="32" width="32"> Overview</a>
                        </li>
                        <li>
                            <a href="/report/faction/angel"><img src="https://image.eveonline.com/Corporation/1000138_64.png" height="32" width="32"> Angel Cartel</a>
                        </li>
                        <li>
                            <a href="/report/faction/blood"><img src="https://image.eveonline.com/Corporation/1000134_64.png" height="32" width="32"> Blood Raiders</a>
                        </li>
                        <li>
                            <a href="/report/faction/guristas"><img src="https://image.eveonline.com/Corporation/1000127_64.png" height="32" width="32"> Guristas</a>
                        </li>
                        <li>
                            <a href="/report/faction/mordu"><img src="https://image.eveonline.com/Corporation/1000128_64.png" height="32" width="32"> Mordu's Legion</a>
                        </li>
                        <li>
                            <a href="/report/faction/sansha"><img src="https://image.eveonline.com/Corporation/1000162_64.png" height="32" width="32"> Sansha's Nation</a>
                        </li>
                        <li>
                            <a href="/report/faction/serpentis"><img src="https://image.eveonline.com/Corporation/1000135_64.png" height="32" width="32"> Serpentis</a>
                        </li>
                        <li>
                            <a href="/report/faction/sisters"><img src="https://image.eveonline.com/Corporation/1000130_64.png" height="32" width="32"> Sisters</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Security Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/security/highsec"><img src="/dist/images/57_64_13.png" width="32" height="32"> Highsec</a>
                        </li>
                        <li>
                            <a href="/report/security/lowsec"><img src="/dist/images/57_64_13.png" width="32" height="32"> Lowsec</a>
                        </li>
                        <li>
                            <a href="/report/security/nullsec"><img src="/dist/images/57_64_13.png" width="32" height="32"> Nullsec</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Index Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/index/deadend"><img src="/dist/images/57_64_13.png" width="32" height="32"> Dead End Systems</a>
                        </li>
                        <li>
                            <a href="/report/index/pirateships"><img src="https://image.eveonline.com/Type/17738_64.png" width="32" height="32"> Pirate Ships</a>
                        </li>
                        <li>
                            <a href="/report/index/boosters"><img src="https://image.eveonline.com/Type/3898_64.png" width="32" height="32"> Boosters</a>
                        </li>
                        <li>
                            <a href="/report/index/pilotservices"><img src="https://image.eveonline.com/Type/29668_64.png" width="32" height="32"> Pilot Services</a>
                        </li>
                        <li>
                            <a href="/report/index/capitalships"><img src="https://image.eveonline.com/Type/23911_64.png" width="32" height="32"> Capital Ships</a>
                        </li>
                        <li>
                            <a href="/report/index/alliances"><img src="/dist/images/57_64_13.png" width="32" height="32"> Alliances</a>
                        </li>
                        <li>
                            <a href="/report/index/goldenroute"><img src="/dist/images/57_64_13.png" width="32" height="32"> Golden Route</a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Region Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Empire <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000054"><img src="/dist/images/57_64_13.png" width="32" height="32"> Aridia</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000069"><img src="/dist/images/57_64_13.png" width="32" height="32"> Black Rise</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000001"><img src="/dist/images/57_64_13.png" width="32" height="32"> Derelik</a>
                                </li>
                               <li>
                                    <a href="/report/region/10000036"><img src="/dist/images/57_64_13.png" width="32" height="32"> Devoid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000043"><img src="/dist/images/57_64_13.png" width="32" height="32"> Domain</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000064"><img src="/dist/images/57_64_13.png" width="32" height="32"> Essence</a>
                                </li>
                               <li>
                                    <a href="/report/region/10000037"><img src="/dist/images/57_64_13.png" width="32" height="32"> Everyshore</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000030"><img src="/dist/images/57_64_13.png" width="32" height="32"> Heimatar</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000052"><img src="/dist/images/57_64_13.png" width="32" height="32"> Kador</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000049"><img src="/dist/images/57_64_13.png" width="32" height="32"> Khanid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000065"><img src="/dist/images/57_64_13.png" width="32" height="32"> Kor-Azor</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000016"><img src="/dist/images/57_64_13.png" width="32" height="32"> Lonetrek</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000042"><img src="/dist/images/57_64_13.png" width="32" height="32"> Metropolis</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000028"><img src="/dist/images/57_64_13.png" width="32" height="32"> Molden Heath</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000048"><img src="/dist/images/57_64_13.png" width="32" height="32"> Placid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000032"><img src="/dist/images/57_64_13.png" width="32" height="32"> Sinq Laison</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000044"><img src="/dist/images/57_64_13.png" width="32" height="32"> Solitude</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000020"><img src="/dist/images/57_64_13.png" width="32" height="32"> Tash-Murkon</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000038"><img src="/dist/images/57_64_13.png" width="32" height="32"> The Bleak Lands</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000033"><img src="/dist/images/57_64_13.png" width="32" height="32"> The Citadel</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000002"><img src="/dist/images/57_64_13.png" width="32" height="32"> The Forge</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000068"><img src="/dist/images/57_64_13.png" width="32" height="32"> Verge Vendor</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Southeast <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000007"><img src="/dist/images/57_64_13.png" width="32" height="32"> Cache</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000012"><img src="/dist/images/57_64_13.png" width="32" height="32"> Curse</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000005"><img src="/dist/images/57_64_13.png" width="32" height="32"> Detorid</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000011"><img src="/dist/images/57_64_13.png" width="32" height="32"> Great Wildlands</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000009"><img src="/dist/images/57_64_13.png" width="32" height="32"> Insmother</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000008"><img src="/dist/images/57_64_13.png" width="32" height="32"> Scalding Pass</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000006"><img src="/dist/images/57_64_13.png" width="32" height="32"> Wicked Creek</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">South <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000014"><img src="/dist/images/57_64_13.png" width="32" height="32"> Catch</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000039"><img src="/dist/images/57_64_13.png" width="32" height="32"> Esoteria</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000056"><img src="/dist/images/57_64_13.png" width="32" height="32"> Feythabolis</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000025"><img src="/dist/images/57_64_13.png" width="32" height="32"> Immensea</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000031"><img src="/dist/images/57_64_13.png" width="32" height="32"> Impass</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000062"><img src="/dist/images/57_64_13.png" width="32" height="32"> Omist</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000059"><img src="/dist/images/57_64_13.png" width="32" height="32"> Paragon Soul</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000022"><img src="/dist/images/57_64_13.png" width="32" height="32"> Stain</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000061"><img src="/dist/images/57_64_13.png" width="32" height="32"> Tenerifis</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Southwest <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000060"><img src="/dist/images/57_64_13.png" width="32" height="32"> Delve</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000063"><img src="/dist/images/57_64_13.png" width="32" height="32"> Period Basis</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000050"><img src="/dist/images/57_64_13.png" width="32" height="32"> Querious</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Northwest <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000051"><img src="/dist/images/57_64_13.png" width="32" height="32"> Cloud Ring</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000058"><img src="/dist/images/57_64_13.png" width="32" height="32"> Fountain</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000057"><img src="/dist/images/57_64_13.png" width="32" height="32"> Outer Ring</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000041"><img src="/dist/images/57_64_13.png" width="32" height="32"> Syndicate</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">North <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000055"><img src="/dist/images/57_64_13.png" width="32" height="32"> Branch</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000035"><img src="/dist/images/57_64_13.png" width="32" height="32"> Deklein</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000046"><img src="/dist/images/57_64_13.png" width="32" height="32"> Fade</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000023"><img src="/dist/images/57_64_13.png" width="32" height="32"> Pure Blind</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000045"><img src="/dist/images/57_64_13.png" width="32" height="32"> Tenal</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000010"><img src="/dist/images/57_64_13.png" width="32" height="32"> Tribute</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000015"><img src="/dist/images/57_64_13.png" width="32" height="32"> Venal</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">Northeast <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000029"><img src="/dist/images/57_64_13.png" width="32" height="32"> Geminate</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000003"><img src="/dist/images/57_64_13.png" width="32" height="32"> Vale of the Silent</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                        <li>
                            <a href="#">East <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/report/region/10000053"><img src="/dist/images/57_64_13.png" width="32" height="32"> Cobalt Edge</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000027"><img src="/dist/images/57_64_13.png" width="32" height="32"> Etherium Reach</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000013"><img src="/dist/images/57_64_13.png" width="32" height="32"> Malpais</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000040"><img src="/dist/images/57_64_13.png" width="32" height="32"> Oasa</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000021"><img src="/dist/images/57_64_13.png" width="32" height="32"> Outer Passage</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000066"><img src="/dist/images/57_64_13.png" width="32" height="32"> Perrigen Falls</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000034"><img src="/dist/images/57_64_13.png" width="32" height="32"> The Kalevala Expanse</a>
                                </li>
                                <li>
                                    <a href="/report/region/10000018"><img src="/dist/images/57_64_13.png" width="32" height="32"> The Spire</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Jump Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/jump/tradehubs"><img src="/dist/images/7_64_16.png" width="32" height="32"> Trade Hubs</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Market Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/market/pilotservices"><img src="http://imageserver.eveonline.com/Type/29668_32.png"> Pilot Services</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Moon Minerals<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/report/moon/sov"><img src="/dist/images/94_64_9.png" width="32" height="32"> Sovereignty</a>
                        </li>
                        <li>
                            <a href="/report/moon/gases"><img src="http://imageserver.eveonline.com/Type/16634_32.png"> Gases</a>
                        </li>
                        <li>
                            <a href="/report/moon/r8"><img src="http://imageserver.eveonline.com/Type/16640_32.png"> R8</a>
                        </li>
                        <li>
                            <a href="/report/moon/r16"><img src="http://imageserver.eveonline.com/Type/16643_32.png"> R16</a>
                        </li>
                        <li>
                            <a href="/report/moon/r32"><img src="http://imageserver.eveonline.com/Type/16647_32.png"> R32</a>
                        </li>
                        <li>
                            <a href="/report/moon/r64"><img src="http://imageserver.eveonline.com/Type/16652_32.png"> R64</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Map<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/map/sovereignty"><img src="/dist/images/94_64_9.png" width="32" height="32"> Sovereignty</a>
                        </li>
                        <li>
                            <a href="/map/conquerablestations"><img src="/dist/images/1_64.png" width="32" height="32"> Conquerable Stations</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="/trade/wallet"><i class="fa fa-table fa-fw"></i> Wallet</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {{nav_link(name="Panels and Wells", url="/panels-wells.html", active=name)}}
                        {{nav_link(name="Buttons", url="/buttons.html", active=name)}}
                        {{nav_link(name="Notifications", url="/notifications.html", active=name)}}
                        {{nav_link(name="Typography", url="/typography.html", active=name)}}
                        {{nav_link(name="Icons", url="/icons.html", active=name)}}
                        {{nav_link(name="Grid", url="/grid.html", active=name)}}
                        {{nav_link(name="Forms", url="/forms.html", active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
{% endmacro %}